$herofooter: #1F2937;
//(background color hero and footer)

$heromain: #F9FAF8;
//(48px  extra-boldlight italic)

$herosecondaryheaderlinktext:#E5E7EB;
//(18px)

$headerlogotext: #F9FAF8;
//(24px)

$buttoncolor:#3882F6;

$infoheadertext:#1F2937;
//(36px  extra-bold italic)

$quotebackgroundcolor:#E5E7EB;
//(quote section bg color)

$quotetext:#1F2937;
//(36px  light italic)
